@page "/paises"
@inject IHttpService http
    <center><h1>Países</h1></center>
<br/>
    @if (paises == null)
    {
        <img src="/loading-2.gif" style="width:100%; height:auto;" alt="Funny image" />
    }
    else
    {
        <br />
        <center><a class="btn btn-info rounded-pill" href="pais/crear">Nuevo</a></center>
        <br />

        <table class="table " style="background: linear-gradient(blue, violet); color: antiquewhite;">
            <tr class="border border-dark ">
                <th>Codigo</th>
                <th>Nombre</th>
                <th></th>
                <th></th>
            </tr>


            @if(paises.Count == 0)
            {
            <tr>No existen paises</tr>
            }
            else
            {
               @foreach (var item in paises)
                {

                   <tr style="border: 1px solid black;">
                       <td>@item.CodPais</td>
                       <td>@item.NombrePais</td>
                       <td><a class="btn btn-outline-info" style="color:aliceblue; border-radius:10px 10px;" href="pais/modificar/@item.Id">Modificar</a></td>
                       <td><button class="btn btn-outline-dark" style="color:aliceblue; border-radius:10px 10px;" @onclick="() => Eliminar(item)">Eliminar</button></td>
                   </tr>

                }
            }

        </table>
    }

    <Confirmacion @ref="confirmacion" onConfirm="Eliminarp" onCancel="Cancelar">
        <div>¿Desea eliminar el Pais @paisEliminarp.NombrePais?</div>
    </Confirmacion>

    @code {
        List<HolaMundoBlazor.BD.Entidades.Pais> paises;
        Confirmacion confirmacion;

        HolaMundoBlazor.BD.Entidades.Pais paisEliminarp;

        protected override async Task OnInitializedAsync()
        {
            base.OnInitialized();

            await Leer();
        }

        private async Task Leer()
        {
            var respuestaHttp = await http.Get<List<HolaMundoBlazor.BD.Entidades.Pais>>("api/paises");
            if (!respuestaHttp.Error)
            {
                paises = respuestaHttp.Respuesta;
            }

        }

        private void Cancelar()
        {
            confirmacion.Ocultar();
            paisEliminarp = null;
        }

        private void Eliminar(HolaMundoBlazor.BD.Entidades.Pais paisEliminar)
        {

            confirmacion.Mostrar();

            paisEliminarp = paisEliminar;

        }

        private async Task Eliminarp()
        {
            var respuesta = await http.Delete($"api/paises/{paisEliminarp.Id}");
            if (respuesta.Error)
            {
                var body = await respuesta.GetBody();
            }
            Cancelar();
            await Leer();
        }
    }
