@page "/pais/crear" 
@inject NavigationManager navigationmanager
@inject IHttpService http

<h3>Agregar Nuevo Pais</h3>
<PaisFormulario onValitSubmit="AddPais"  Pais="pais" onCancel="Cancelar" />



@code {

    private HolaMundoBlazor.BD.Entidades.Pais pais = new();

    private async Task AddPais()
    {
        var httpRespuesta= await http.Post<HolaMundoBlazor.BD.Entidades.Pais>("api/paises",pais);
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }

        navigationmanager.NavigateTo("/paises");

    }

    private async Task Cancelar()
    {
        navigationmanager.NavigateTo("/paises");

    }

}
