@page "/pais/modificar/{PaisId:int}"
@inject IHttpService http
@inject NavigationManager navigationmanager

<h3>Modificar Pais</h3>

<PaisFormulario onValitSubmit="ModificarPais" Pais="pais" onCancel="Cancelar" />

@code {

    private HolaMundoBlazor.BD.Entidades.Pais pais;
    [Parameter] public int PaisId { get; set; }


    protected async override Task OnInitializedAsync()
    {
        await MostrarPais();
    }

    private async Task MostrarPais()
    {
        var httpRespuesta = await http.Get<HolaMundoBlazor.BD.Entidades.Pais>($"api/paises/{PaisId}");
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }
        else
        {
            pais = httpRespuesta.Respuesta;
        }
        
    }

    private async Task ModificarPais()
    {
        var httpRespuesta = await http.Put<HolaMundoBlazor.BD.Entidades.Pais>($"api/paises/{PaisId}",pais);
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }

        navigationmanager.NavigateTo("/paises");
    }

    private async Task Cancelar()
    {
        navigationmanager.NavigateTo("/paises");

    }


}
